<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.algebra.aspect.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.algebra.aspect.domain.User" >
    <id column="u_id" property="uId" jdbcType="VARCHAR" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="id_typ" property="idTyp" jdbcType="VARCHAR" />
    <result column="id_num" property="idNum" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    u_id, u_name, password, id_typ, id_num, phone, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where u_id = #{uId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_user
    where u_id = #{uId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.algebra.aspect.domain.User" >
    insert into tb_user (u_id, u_name, password, 
      id_typ, id_num, phone, 
      status, remark)
    values (#{uId,jdbcType=VARCHAR}, #{uName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{idTyp,jdbcType=VARCHAR}, #{idNum,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.algebra.aspect.domain.User" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="idTyp != null" >
        id_typ,
      </if>
      <if test="idNum != null" >
        id_num,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="idTyp != null" >
        #{idTyp,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null" >
        #{idNum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.algebra.aspect.domain.User" >
    update tb_user
    <set >
      <if test="uName != null" >
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="idTyp != null" >
        id_typ = #{idTyp,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null" >
        id_num = #{idNum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.algebra.aspect.domain.User" >
    update tb_user
    set u_name = #{uName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      id_typ = #{idTyp,jdbcType=VARCHAR},
      id_num = #{idNum,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=VARCHAR}
  </update>
  <select id="selectUserOne" parameterType="java.util.Map" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from tb_user
      where 1=1
      <if test="uId != null" >
        and u_id = #{uId,jdbcType=VARCHAR}
      </if>
      <if test="uName != null" >
        and u_name = #{uName,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="idTyp != null" >
        and id_typ = #{idTyp,jdbcType=VARCHAR}
      </if>
      <if test="idNum != null" >
        and id_num = #{idNum,jdbcType=VARCHAR}
      </if>
      <if test="phone != null" >
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      limit 1
  </select>

</mapper>